@import "cores";

.container {
    padding: 0 8px; // respiro
    max-width: 45rem;
    margin: 0 auto;
    margin-top: calc(0px - 2rem);
}

.main {
    margin-top: 4rem;
}

.lista {
    display: grid;
    gap: 1.3rem;
    border-top: 1px solid;
    border-color: rgba($gray-300, $alpha: 0.7);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.semTarefa {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    line-height: 1.4;

    img {
        margin-bottom: 1rem;
    }
}
